<ng-template #content let-modal>
  <form (ngSubmit)="share()">
    <div class="modal-header">
      <h4 class="modal-title">Share</h4>
      <div class="close" aria-label="Close" (click)="closeForm()">
        <span aria-hidden="true">&times;</span>
      </div>
    </div>
    <div class="modal-body">

      <div ngbDropdown #shareDropdown="ngbDropdown" class="d-inline-block">
        <button class="btn btn-outline-primary" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" type="button">Share with</button>
        <span *ngIf="selectedUser"> &emsp; {{selectedUser.username}}</span>
        <div class="dropdown-menu" ngbDropdownMenu>
          <div class="px-1 py-1">
            <input type="text" class="form-control" #searchBox (input)="search(searchBox.value)" placeholder="Search user">
          </div>
          <div class="dropdown-divider"></div>
          <button *ngFor="let user of users$ | async | excludeUser:authService.userId" class="dropdown-item" type="button" (click)="selectUser(user); $event.stopPropagation(); shareDropdown.close();">
            {{user.username}} </button>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="btn btn-secondary" (click)="closeForm()">Cancel</div>
      <button type="submit" class="btn btn-primary" [disabled]="!selectedUser">Share</button>
    </div>
  </form>
</ng-template>