<ng-template #content let-modal>
  <form (ngSubmit)="rename()">
    <div class="modal-header">
      <h4 class="modal-title">Rename</h4>
      <div class="close" aria-label="Close" (click)="closeForm()">
        <span aria-hidden="true">&times;</span>
      </div>
    </div>
    <div class="modal-body">
      <label for="folder-name">New name</label>
      <input type="text" [(ngModel)]="newName" name="newName" class="form-control" id="item-name" placeholder="Enter the new name"
        autocomplete="off">
    </div>
    <div class="modal-footer">
      <div class="btn btn-secondary" (click)="closeForm()">Close</div>
      <button type="submit" class="btn btn-primary" [disabled]="!newName">Rename</button>
    </div>
  </form>
</ng-template>