<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Delete</h4>
    <div  class="close" aria-label="Close" (click)="closeForm()">
      <span aria-hidden="true">&times;</span>
    </div>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <span class="font-weight-bold">{{file.name}}</span>?</p>
  </div>
  <div class="modal-footer">
    <div  class="btn btn-secondary" (click)="closeForm()">Cancel</div>
    <button class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
</ng-template>